html
    head
        title #{title} | Home
        style
            include style.css
        
    body 
        include ./navbar.pug

        h1 Sorry, The website is only available in working time!